<div>
  <h1><%= @wiki.title %></h1>

  <br>

  <small>
    Submitted <%= time_ago_in_words(@wiki.created_at) %> ago.
    <p> Private Wiki: <%= @wiki.private %></p>
  </small>

  <div class="row">
    <div class="col-md-8">
      <p><%= markdown(@wiki.body) %></p>
    </div>
    <div class="col-md-4">
      <%= link_to "Return to Wikis", wikis_path, class: 'btn btn-info' %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>

      <% if policy(@wiki).destroy? %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
      <% end %>

      <% if @wiki.private %>
        <% if Collaborator.exists?(wiki_id: @wiki) %>
          <%= render partial: 'collaborators/collaborators', locals: { wiki: @wiki, collaborators: @collaborators } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
